# operators

In [1]:
# plain division
17/3

5.666666666666667

In [2]:
# division returns only integer value
17 // 3

5

In [3]:
# returns remainder
17 % 3

2

In [4]:
# return 2 to the power 3
2 ** 3

8

# Floating point arithmetic issues

In [5]:
1 + 1

2

In [6]:
.1 + 1

1.1

In [7]:
.1 + .1

0.2

In [8]:
# the output should be .3
# but it is not exact .3
# so its equal result will be FALSE
.1 + .1 + .1

0.30000000000000004

In [9]:
# as stated above it will give FALSE result
.1 + .1 + .1 == .3

False

# round function

In [10]:
round(2)

2

In [11]:
round(0.2)

0

In [12]:
round(0.7)

1

In [13]:
# second digit in round function limit the decimal to the point
round(0.3123456789,10)

0.3123456789

In [14]:
round(0.3123456789,9)

0.312345679

In [15]:
# now back to the above float datatype issue
round(.1) + round(.1) + round(.1)

0

In [16]:
# this would again be normal (.1 + .1 + .1)
# we are first rounding each term then adding
round(.1,10) + round(.1,10) + round(.1,10)

0.30000000000000004

In [17]:
# we are first adding the number
# results (0.30000000000000004)
# then rounding it to the 10th digit
round(.1 + .1 + .1, 10)

0.3

# Boolean operator/ function

In [18]:
# output is inn form of tuple
boola = True
type(boola),boola

(bool, True)

In [19]:
(5 > 1, 2 < 4, 4 == 4)

(True, True, True)

In [20]:
all((5 > 1, 2 < 4, 4 == 4)) # when all outputs are true -> true else false

True

In [21]:
5 < 1, 2 > 4, 4 == 2

(False, False, False)

In [22]:
any((5 < 1, 2 > 4, 4 == 2))

False

In [23]:
any((5 < 1, 2 > 4, 4 == 4)) # Any output is true, return true

True

In [24]:
any([5 < 1, 2 > 4, 4 == 4]) # brackets does not matters this function takes iterator

True

In [25]:
all([5 > 1, 2 < 4, 4 == 4]) # brackets does not matters this function takes iterator

True


# Print

In [5]:
print(12)
print('23')
print("323")

12
23
323

In [6]:
print('sd' 'sd')

sdsd

In [8]:
print("123"
"asd"

"qwert" \
    "hello")

123asdqwerthello

## string

In [9]:
"hello"

'hello'

In [12]:
'printing\tstarting new line\nsaying how\'s you are doing'

"printing\tstarting new line\nsaying how's you are doing"

In [14]:
# above is just a string
# \t and \n will work only if we are dealing with output
# like
print('printing\tstarting new line\nsaying how\'s you are doing')

printing	starting new line
saying how's you are doing

In [15]:
special = """\
Usage: thing [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
"""
special

'Usage: thing [OPTIONS]\n     -h                        Display this usage message\n     -H hostname               Hostname to connect to\n'

In [16]:
# simillarly 3 quotes """ will denotes whatever is written inside it print as it is

In [17]:
print(special)

Usage: thing [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

In [20]:
# multiply text with number
3 * 'aah..'

'aah..aah..aah..'

In [22]:
# to insert variable with the string
# string needs to be concatinate with +

In [149]:
str1 = "Prithvi"

In [153]:
"Hello " + str1 + " How are you ?"

'Hello Prithvi How are you ?'

In [158]:
# NOTE------ instead of that we can use string formatting

In [163]:
print("Hello {} How {} you ?".format(str1,"ARE")) #----------  format method type of usage

Hello Prithvi How ARE you ?

In [167]:
print(f"My name is {str1}, I am {12:03d} year old. I am having ${4.2:.3f}.") #--------- f-strings in Python >= 3.6

My name is Prithvi, I am 012 year old. I am having $4.200.

# String Indexing / slicing

In [16]:
myname = 'Prithviraj'

In [11]:
myname

'Prithviraj'

In [33]:
myname[3]

't'

In [35]:
myname[-4]

'i'

In [41]:
# string slicing
# string[start:stop:step]
# string[start:count:stop]
# string[ starting_index : count_need_to_include : step_we_need_to_take ]
# default[ 0: length : 1]

In [44]:
len(myname) # returns length of string

10

In [53]:
## writing like this in cell will take ouput in a temp variable
## so, it will print the last updated value of that temp variable

myname[:] # start and sstop both are null : it will take default values
myname[4:len(myname)]

'hviraj'

In [62]:
# then to print above code block line wise
# show ouptput using print at the line
print(myname[:]) # start and sstop both are null : it will take default values
print(myname[:6])
print('      ' + myname[6:len(myname)])

Prithviraj
Prithv
      iraj

In [64]:
print(myname[::1])
print(myname[::2])

Prithviraj
Pihia

In [74]:
print(myname[-1])
print(myname[:-1])
print(myname[::-1])
print(myname[-1:3:-1])
print(myname[-1:-3:-1])

j
Prithvira
jarivhtirP
jarivh
ja

In [73]:
print("sivraj"[::-1])

jarvis

# operation on string

In [17]:
myname += ' Chakrapani'

In [19]:
print(myname.capitalize())
print(myname.count('i'))
print(myname.count('ra'))
print(myname.casefold())

Prithviraj chakrapani
3
2
prithviraj chakrapani

In [22]:
print(myname.endswith('i'))

True

In [26]:
print(myname.find('i')) # return first found index of character/string
print(myname.find('i',3)) # return first found index after the passed index

2
6

In [29]:
print(myname.isupper())
print(myname.isdigit())

False
False

# split

In [31]:

myemail = 'prithviraj155.5@gmail.com'

In [40]:
print(myemail.split())
print(myemail.split('@'))

['prithviraj155.5@gmail.com']
['prithviraj155.5', 'gmail.com']

In [55]:
 # accessing index ----- ( -2, -1, 0, 1 )
myemail.split('@')[-2],myemail.split('@')[-1],myemail.split('@')[0],myemail.split('@')[1]

('prithviraj155.5', 'gmail.com', 'prithviraj155.5', 'gmail.com')

In [56]:
myemail.split('@')[1].split('.')

['gmail', 'com']

## List --> denoted with Square braces []

In [69]:
num = [1,2,3,4]
num

[1, 2, 3, 4]

In [66]:
# slicing and indexing is just as we did for string

In [70]:
# list also supports concatination
num2 = [5,6,7,2,8,4]

In [71]:
print(num + num2)

[1, 2, 3, 4, 5, 6, 7, 2, 8, 4]

Unlike strings, which are immutable, lists are a mutable type, i.e. it is possible to change their content:

In [76]:
num[2] = 9

In [77]:
num

[1, 2, 9, 4]

In [103]:
# string can be converted to list
# string is more likely treated as list ----BUT----string is immutable
mynamelist = list(myname)
mynamelist

['P',
 'r',
 'i',
 't',
 'h',
 'v',
 'i',
 'r',
 'a',
 'j',
 ' ',
 'C',
 'h',
 'a',
 'k',
 'r',
 'a',
 'p',
 'a',
 'n',
 'i']

In [104]:
print(num + num2 + mynamelist)

[1, 2, 9, 4, 5, 6, 7, 2, 8, 4, 'P', 'r', 'i', 't', 'h', 'v', 'i', 'r', 'a', 'j', ' ', 'C', 'h', 'a', 'k', 'r', 'a', 'p', 'a', 'n', 'i']

In [105]:
print(len(mynamelist))

21

In [106]:
# remove elements ------ need to pass the starting and eding Index to remove---both are included
# ------------------------ we are not deleting ---- we are setting them to null
mynamelist[15:18] = []
mynamelist

['P',
 'r',
 'i',
 't',
 'h',
 'v',
 'i',
 'r',
 'a',
 'j',
 ' ',
 'C',
 'h',
 'a',
 'k',
 'a',
 'n',
 'i']

In [107]:



#replace elements
mynamelist[2] = 3
mynamelist[3:5] = [4,5,6]
mynamelist

['P',
 'r',
 3,
 4,
 5,
 6,
 'v',
 'i',
 'r',
 'a',
 'j',
 ' ',
 'C',
 'h',
 'a',
 'k',
 'a',
 'n',
 'i']

In [110]:
# del can be used to delete element
del mynamelist[3:15]

In [111]:
mynamelist

['P', 'r', 3, 'a', 'n', 'i']

In [112]:
# we can nest list into list
# as list is not limited to specific datat ytpe
# ----- IT CAN HOLD ANY DATATYPE-------YES IN SINGLE LIST---

In [116]:
nestlist = [list(myname.split(' ')[0]),list(myname.split(' ')[1]),num,num2]
nestlist

[['P', 'r', 'i', 't', 'h', 'v', 'i', 'r', 'a', 'j'],
 ['C', 'h', 'a', 'k', 'r', 'a', 'p', 'a', 'n', 'i'],
 [1, 2, 9, 4],
 [5, 6, 7, 2, 8, 4]]

In [117]:
# accessing any element pass nested index value

In [120]:
print(nestlist[0])

['P', 'r', 'i', 't', 'h', 'v', 'i', 'r', 'a', 'j']

In [121]:
nestlist[0][0],nestlist[0][3],nestlist[0][6],nestlist[0][8]

('P', 't', 'i', 'a')

In [125]:
# simllarly accessing any element at a time
nestlist[0][1],nestlist[1][1],nestlist[2][2],nestlist[3][2]

('r', 'h', 9, 7)

In [127]:
# printing the type of elements
type(nestlist[0][1]),type(nestlist[1][1]),type(nestlist[2][2]),type(nestlist[3][2])

(str, str, int, int)

In [130]:
# checking if the elemets are digit
nestlist[0][1].isdigit(),nestlist[3][1].isdigit() #---- NOTE -- isdigit() is function of string

AttributeError: 'int' object has no attribute 'isdigit'

In [132]:
# -- we can convert the int/ or if we don't know the datatype
#------ we can convert it to string then check if it is digit ----------- Hurray......
nestlist[0][1].isdigit(),str(nestlist[3][1]).isdigit()

(False, True)

## Input / Output

In [133]:
a = input()

raj

In [134]:
print('May I know your name?')
print('Hello!',input())

May I know your name?
prithviraj
Hello! prithviraj

In [142]:
print('Hello!',input('May I know your name? '))

May I know your name? prithvi
Hello! prithvi

In [143]:
inputnum = input('enter the age ?')

enter the age ?45

In [144]:
inputnum

'45'

In [145]:
type(inputnum)

str

In [146]:
# input taken is always of type string
# we need to cast input to desired DataType e.g. => int(input())
inputnum > 0

TypeError: '>' not supported between instances of 'str' and 'int'

In [147]:
inputnum = int(inputnum)

In [148]:
inputnum > 1

True

#1. [More Control Flow Tools](https://docs.python.org/3.8/tutorial/controlflow.html)